@use "./variable" as *;

.contact {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: $bgcolor;
  border: 2px solid $greenlogo;
  border-radius: 8px;
  box-shadow: 0 2px 4px $greenlogo;
  color: white;
  text-align: center;
  margin-bottom: 50px;

  @media (max-width: 600px) {
    padding: 15px;
    margin: 10px;
  }
}

.introcontact h2 {
  text-align: center;
  color: $greenlogo;
  margin-bottom: 20px;
  font-size: 30px;

  @media (max-width: 600px) {
    font-size: 24px; /* Réduire la taille du texte */
  }
}

.introcontact p {
  margin-bottom: 20px;
  font-size: 25px;
  color: white;
  text-align: center;

  @media (max-width: 600px) {
    font-size: 20px; /* Réduire la taille du texte */
  }
}

.contact label {
  text-align: center;
  font-size: 25px;

  @media (max-width: 600px) {
    font-size: 20px; /* Réduire la taille du texte */
  }
}

.contact form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 25px; /* Augmenter l'espacement entre les groupes */
}

.contact input,
.contact textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $greenlogo;
  font-size: 20px;
  transition: border-color 0.3s;
  width: 100%; /* Pour que les inputs prennent toute la largeur */
  color: white;

  @media (max-width: 600px) {
    font-size: 18px; /* Réduire la taille du texte */
    padding: 8px; /* Ajuster le padding */
  }
}

.contact input:focus,
.contact textarea:focus {
  border-color: $greenlogo;
  outline: none;
}

.contact button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: $greenlogo;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, text-shadow 0.3s, transform 0.3s; // Ajout de la transition pour la transformation

  // Ajout d'un contour noir léger autour des lettres
  text-shadow: 1px 1px 0px black, -1px -1px 0px black,
               1px -1px 0px black, -1px 1px 0px black;

  @media (max-width: 600px) {
    font-size: 14px; /* Réduire la taille du texte */
    padding: 8px; /* Ajuster le padding */
  }
}

.contact button:hover {
  background-color: darken($greenlogo, 10%);
  text-shadow: 2px 2px 0px black, -2px -2px 0px black,
               2px -2px 0px black, -2px 2px 0px black; /* Légère intensification du contour au hover */
  transform: scale(1.05); // Légère augmentation de la taille du bouton
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Ombre pour plus de profondeur
}

.captcha {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;

  @media (max-width: 600px) {
    font-size: 20px; /* Réduire la taille du texte */
  }
}

.captcha button {
  margin-top: 10px;
}
