@use "./style/variable.scss" as *;
@import "./style/home.scss";
@import "./style//nav.scss";

* {
  background-color: $bgcolor;
  box-sizing: border-box;
  margin: 0;
}
.mainlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
